<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Music AI - Resultados de Recomendação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados.css') }}">
</head>
<body>
    <div id="header">
        <div id="titulo-logo">
            <div id="logo">
                <img src="{{ url_for('static', filename='images/Logo disc.svg') }}" alt="Minha Imagem">
            </div>
            <div id="titulo">
                <h1> Perfect Music AI </h1>
            </div>
        </div>
        <div>
            <form action="/knnrecomendation">
                <button id="pesquisar" type="submit">Pesquisar Nova Música</button>
            </form>
        </div>
    </div>

    <div id="recomendacoes">
        <h2>Músicas Recomendadas:</h2>
        <ul> <!-- HTML com Jinja2 mecanismo de template usado em aplicações web com Flask em python -->
            {% if recomendacoes %} 
                {% for row in recomendacoes %}
                <li>
                    <p><strong>{{ row['track_name'] }}</strong> - {{ row['artists'] }}</p>
                    <p>Gênero: {{ row['track_genre'] }}</p>
                    <p>Álbum: {{ row['album_name'] }}</p>
                </li>
                {% endfor %}
            {% else %}
                <li>Nenhuma música recomendada.</li>
                <li> Desculpe, não encontramos a música especificada.Tente novamente.</li>
            {% endif %}
        </ul>
    </div>
    
</body>
</html>
